<div>
  <form>
    <p ng-show="error">{{ error }}</p>
    <p>Username: <input ng-model="username" type="text" name="username" /></p>
    <p>Name: <input ng-model="name" type="text" name="name" /></p>
    <p>Email: <input ng-model="email" type="text" name="email" /></p>
    <p>Password: <input ng-model="password" type="password" name="password" /></p>
    <p>Confirm: <input ng-model="confirm" type="password" name="password" /></p>
    <p><input type="submit" value="Create Account" ng-click="create()" /></p>
  </form>
</div>
