<div id="tweets" class="panel-body">

<% if @tweets.count > 0 %>
	<% @tweets.each do |tweet| %>
	<a href="/user/<%= tweet.user_id %>">
		<%= tweet.username%>
	</a>
	<br>
	<%= tweet.name %>
	<br>
	<%= tweet.text %>
	<br><hr>
	<% end %>
<% else %>
	<h2>No tweets to show yet.</h2>
<% end %>
</div>

