NAME: <%= @current_user.name %>
<br>
USERNAME: <%= @current_user.username %>
<ul>
FOLLOWS:
<br>
	<% @followees.each do |followee| %>
		<li><a href="/user/<%= "#{followee.id}" %>"><%= followee.username %></a></li>
	<% end %>
</ul>
